/* Heavy influence from https://formsmarts.com/weblog/form-builder/online-form-customize-style-css */
/* Important "Header" sections, mapped to their generated identifiers */
#[initiation] h2 {
  display: none;
}
#[initiation] label:last-of-type {
  display: none;
}
#[initiation] select {
  width: 200px;
}
#[initiation] input {
  width: 200px;
}
#[notinitiated] h2 {
  display: none;
}
